<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - run4cause</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/run4cause.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" />
    <script src="~/js/alpinejs.min.js" defer></script>
</head>

<body>
    <header>

    </header>
    <main role="main">
        @RenderBody()
    </main>
    <footer>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
