@page "{userId:int}"
@using Run4Cause.Pages
@model ProfileModel

<div class="flex flex-col max-w-4xl px-6 py-4 mx-auto space-y-4">
    <div class="flex items-center space-x-4">
        <div class="flex flex-shrink-0 w-24 h-24 bg-gray-300 rounded-full"></div>
        <div class="w-2/3 space-y-4">
            <div class="flex items-center">
                <h1 class="mr-4 text-2xl font-bold">@Html.DisplayFor(model => model.User.FullName)</h1>
                @{
                    // TODO: We should compare the phone number as the email
                    // cloud be null
                    if (Model.User.Email == User?.Identity?.Name)
                    {
                        @await Component.InvokeAsync("UpdateProfileModal", new { User = Model.User })
                        <div class="ml-4">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                <button type="submit"
                                class="px-4 py-2 text-white bg-gray-400 rounded-md hover:bg-gray-300">Logout</button>
                            </form>
                        </div>
                    }
                }
            </div>
            <p class="mr-4 text-justify">@Html.DisplayFor(model => model.User.Profile.Description)</p>
        </div>
    </div>
    <hr>
    <div>
        <div class="flex space-x-2">
            <div class="flex flex-col justify-between py-1.5 px-2 bg-green-200 rounded-lg">
                <div class="text-green-900">Distance totale</div>
                <div class="flex text-green-600">
                    <span class="font-bold">@Html.DisplayFor(model => model.User.TotalDistanceCovered)</span>
                    <span>km</span>
                </div>
            </div>
            <div class="flex flex-col justify-between py-1.5 px-2 bg-green-200 rounded-lg">
                <div class="text-green-900">Gains</div>
                <div class="flex text-green-600">
                    <span class="font-bold">4'345</span>
                    <span>CHF</span>
                </div>
            </div>
            <div class="flex flex-col justify-between py-1.5 px-2 bg-green-200 rounded-lg">
                <div class="text-green-900">Parrains</div>
                <div class="flex text-green-600">
                    <span class="font-bold">54</span>
                </div>
            </div>
        </div>
    </div>

    <div class="space-y-4">
        <h1 class="text-2xl font-bold">Prochaine participation</h1>
        <div class="flex items-center space-x-5 md:items-start md:flex-col md:space-x-0">
            <div class="w-2/5 space-y-2.5 md:flex md:w-full md:my-2 md:items-center md:space-x-2">
                <div class="flex items-center space-x-3 md:p-1">
                    <img src="/img/icon_markers.png" alt="" class="w-8 h-8">
                    <div>12 km</div>
                </div>
                <div class="flex items-center space-x-3 md:p-1">
                    <img src="/img/icon_mountains.png" alt="" class="w-8 h-8">
                    <div>120 m</div>
                </div>
                <hr>
                <div class="flex items-center space-x-3 md:p-1">
                    <img src="/img/icon_calendar.png" alt="" class="w-8 h-8">
                    <div>Le 15 juin</div>
                </div>
                <div class="flex items-center space-x-3 md:p-1">
                    <img src="/img/icon_clock.png" alt="" class="w-8 h-8">
                    <div>Départ à 10h00</div>
                </div>
            </div>
            <div class="flex-1 w-3/5">
                <img src="/img/map.png" alt="" class="w-full rounded-3xl">
            </div>
        </div>
    </div>

    <div class="space-y-4">
        <h1 class="text-2xl font-bold">Trophées</h1>
        <div class="flex space-x-4">
            <div class="flex flex-col items-center space-y-4">
                <img src="/img/trophy_1.png" alt="" class="w-16 h-16">
                <div>Participant 2018</div>
            </div>
            <div class="flex flex-col items-center space-y-4">
                <img src="/img/trophy_2.png" alt="" class="w-16 h-16">
                <div>Participant 2019</div>
            </div>
        </div>
    </div>

    <div class="flex flex-col space-y-4">
        <h1 class="text-2xl font-bold">Photos</h1>
        <div class="flex flex-1">
            <img src="/img/gallery_1.png" alt="" class="w-full rounded-3xl">
        </div>
    </div>

    @await Component.InvokeAsync("SponsorModal", new { User = Model.User })
</div>
